/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


/* GREAT IDEA PAGE 1 --- TOP OF PAGE */


.topbar { 
	display: flex; 
	justify-content: space-evenly;
	word-spacing: 130px;
	color: grey;
	margin-right: 140px;
}

.topbar:hover {
	color: rgb(96, 165, 244);
}

.topbar:visited:{
	color: red; 
}



.pic1 {
	display: flex; 
	flex-direction: row-reverse;
}

.pic-container{
	display: flex;
	justify-content: flex-end;
	position: relative;
	bottom: 200px;
	right: 75px;
}

.logo {
	margin-left: 1100px;
	display: flex;
	box-sizing: border-box;
	}

.logo-container{
	display: flex;
	flex-direction: row-reverse;
}

h1 {
	padding-right:1%;
	display: block;
	text-align: center; 
	margin: 0;
	font-size: 80px;
	box-sizing: border-box;
	position: relative; 
	top: 100px; 
	left: 200px;
	width: 500px;
	length: 500px;
}

.start {
	padding-right: 0;
	display: block;
	position: relative; 
	box-sizing: border-box;
	text-align: center;
	border: 2px solid grey;
	width: 100px;
	length: 100px;
	margin-left: 395px;
	top: 100px;
}

.start:hover {
	color: yellow;
	background-color: black;
}


/* GREAT IDEA ---- MIDDLE OF PAGE */



.featabout {
	display: block;
	background-color: sandybrown;
	box-sizing: border-box;
	position: relative;
	bottom: 60px;
}

.featabout:hover {
	color: blueviolet;
}

.outer {
	display: inline-block;
	width: 45%;
}

.inner {
	display: inline-block;
	width: 45%;
	margin-left: 3%;
}

.middle-img {
	margin: 0 auto;
	position: relative;
	bottom: 60px;
	width: 100%;
	display: block;
	box-sizing: border-box;
}

.service {
	display: inline-block;
	width: 33%;
}

.service:hover{
	background-color: tomato;
}

.product {
	display: inline-block;
	width: 33%;
}

.product:hover {
	color: blueviolet;
}

.vision {
	display: inline-block;
	width: 33%; 
}

.vison:hover {
	color: blueviolet;
}

.lowerpage{
	position: relative;
	bottom: 60px;
	background-color: sandybrown;
}

.lowerpage:hover {
	color: blueviolet;
}


/* GREAT IDEA ---- BOTTOM OF PAGE */

.contact {
	display: flex;
	length: 100px;
	width: 100px;
	flex-direction: column;
	line-height: 1.5;
	font-style: italic;
}

.contact:hover {
	color: blueviolet;
}
.Copyright {
	display:flex;
	justify-content: center;

}


/* GREAT IDEA HOME PAGE ---- STOPS HERE !!! */




/* SERVICES PAGE ----- STARTS HERE */


/* SERVICES PAGE ---- TOP OF PAGE */ 


.navbar {
	display: flex; 
	justify-content: space-evenly;
	word-spacing: 130px;
	color: grey;
	margin-right: 140px;
}

.servicelogo {
	position: relative;
	bottom: 15px;
	left: 5px;
}


.services-image {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services {
	line-height: 1.5;
	display: flex;
	justify-content: center;
	width: 80%;
	position: relative;
	left: 150px; 
}

.servicetitle {
	font-size: 200%;
	margin-top: 30px; 
}

.servicetitlediv {
	display: flex;
	justify-content: center;
}


.big-body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	line-height: 1.5;
	margin-top: 10px; 
} 

span {
	background-color: lightgray;
	border: 3px solid lightgray;
	display: flex;
	justify-content: center;

}

span:hover {
	background-color: lightsalmon;
}



.design {
	box-sizing: border-box;
	width: 40%;
	margin: 20px; 
	background-color: lightblue;
}



.UX {
	box-sizing: border-box;
	width: 40%;
	margin: 20px; 
	background-color: lightblue;
}


.Marketing {
	box-sizing: border-box;
	width: 40%;
	margin: 20px; 
	background-color: lightblue;
}

.Web {
	box-sizing: border-box;
	width: 40%;
	margin: 20px; 
	background-color: lightblue;
}


.ios {
	box-sizing: border-box;
	width: 40%;
	margin: 20px; 
	background-color: lightblue;
}


.Android {
	box-sizing: border-box;
	width: 40%;
	margin: 20px; 
	background-color: lightblue;
}

.some-facts {
	border: 2px solid grey;
	width: 40%;
	line-height: 1.5;
	position: relative;
	right: 13px;
}

ul {
	list-style-type: square;
	position: relative;
	left: 20px; 
}

.bottomimg{
	border: 2px solid grey;
	position: relative;
	right
}

.bottompage {
	display: flex;
	justify-content: space-around;

}